@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2')
      format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf')
      format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto')
      format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto')
      format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto')
      format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto')
      format('svg');
}
:root {
  --main-text-cl: #757575;
  --accent-cl: #2196f3;
  --black: #212121;
  --white: #ffffff;
  --dark-bg: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}
.member-container {
  font-size: 16px;
}
.member-position {
  line-height: 1.186;
  text-align: center;
}
.member-name {
  font-weight: 500;
  line-height: 1.188;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.875;
}
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
}
.logo-part {
  color: var(--accent-cl);
}
.header-logo {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-logo {
  color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-cl);
}
.menu-link {
  color: var(--black);
}
.footer-contacts-links {
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.title {
  font-weight: 700;
  color: var(--black);
  text-align: center;
}
.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.section-title {
  font-size: 36px;
  line-height: 1.166;
}
.benefits-item-title {
  line-height: 1.143;
  text-transform: uppercase;
  text-align: left;
}
.portfolio-item-title {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.btn {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
}
.order-btn {
  font-weight: 700;
  line-height: 1.875;
  background-color: var(--accent-cl);
  letter-spacing: 0.06em;
  color: var(--white);
}
.portfolio-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--black);
  background: #f5f4fa;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--accent-cl);
}
.footer {
  background-color: var(--dark-bg);
}
.hero-section {
  background-color: var(--dark-bg);
  text-align: center;
}
